
naloga2.playground/playground.xcworkspace/xcuserdata/aljazsimenc.xcuserdatad/UserInterfaceState.xcuserstate

lesson2.playground/playground.xcworkspace/xcuserdata/aljazsimenc.xcuserdatad/UserInterfaceState.xcuserstate
